@import 'tailwindcss';

:root {
  --white: #ffffff;
  --black: #000000;
  --background: #ffffff;
  --surface: #f7f7f7;
  --text-primary: #1a1a1a;
  --text-secondary: #868484;
  --border: #c6c3c3;
  --primary: rgb(230, 0, 35);
  --secondary: rgba(230, 0, 35, 0.246);
  --disabled: #e0e0e0;
  --radius-base: 8px;
  --focus-ring: rgba(230, 0, 35, 0.3);
  --error: #a5041c;
}

@theme {
  --color-black: var(--black);
  --color-white: var(--white);
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-disabled: var(--disabled);
  --color-error: var(--error);
  --color-focus-ring: var(--focus-ring);

  --radius-base: var(--radius-base);
}
body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 0px solid var(--primary);
  outline-offset: 2px;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--white) inset !important;
  -webkit-text-fill-color: var(--text-primary) !important;
  caret-color: var(--color-gray100) !important;
}
