@import 'tailwindcss';

:root {
  --white: #ffffff;
  --black: #000000;
  --background: #ffffff;
  --surface: #f7f7f7;
  --text-primary: #1a1a1a;
  --text-secondary: #666666;
  --border: #c6c3c3;
  --primary: #e60023;
  --disabled: #e0e0e0;
  --radius-base: 8px;
  --focus-ring: rgba(230, 0, 35, 0.3);
  --error: #a5041c;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 0px solid var(--primary);
  outline-offset: 2px;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--white) inset !important;
  -webkit-text-fill-color: var(--text-primary) !important;
  caret-color: var(--color-gray100) !important;
}
